body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;


  background: linear-gradient(135deg, #b2cee9, #e8deb5);
  transition: 0.4s ease-in-out;
}

body.dark-mode {
  background: linear-gradient(135deg, #101010, #2e2e2e);
}

.signup-container {
  width: 100%;
  max-width: 550px;
}

.glass-card {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}

.section-title {
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}
.signup-image {
  width: 260px;           /* same as previous Lottie size */
  height: 260px;
  object-fit: contain;     /* ensures image keeps proportions */
  margin: auto;
  display: block;
  border-radius: 20px;     /* optional, rounded corners */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* optional shadow */
}


