body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a7cdff, #faecc0);;
}

.container {
    width: 90%;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 58px;
    color: rgb(58, 58, 142);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 in each row */
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 295px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
img{
    height:300px;
    width: 350px;
}
